<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/css/normalize.css" />
    <link rel="stylesheet" href="./styles/css/style.css" />
    <title><%- title %></title>
  </head>
  <body>
    <%- include("components/header") %>
    <div id="header__content">
      <div id="header__left_content">
        <h2 id="left__content_head">Погрузись в мир Star Wars</h2>
        <p class="left__content_main">
          Только у нас вы встретите уникальные системы взаимодействия между
          персонажами, огромный выбор самописного оружия для перестрелок, любовь
          создателя к своему детищу и команду разработчиков, которая
          ориентирована на игроков, а не на прибыль.
        </p>
        <p class="left__content_main">
          Отточи своё мастерство в стрельбе в роли штурмовика, либо будь мудрым
          и смелым джедаем, следующим вперёд за своими целями. На нашем проекте
          все роли зависят строго от тебя! Приятная атмосфера поможет тебе
          быстро освоиться у нас.
        </p>
        <p class="left__content_main">
          Если тебе не нравится отыгрывать какую-либо роль, то у тебя есть
          прекрасная возможность опробовать некоторые из наших "вакансий":
          администратор, программист, тестировщик или даже менеджер. Всё зависит
          лишь от желания и времени, которое ты готов потратить!
        </p>
      </div>
      <div id="scene">
        <div class="header__right_content" data-depth="0.2"></div>
        <div class="right__content_figure" data-depth="-0.2"></div>
      </div>
    </div>
    <div class="rain-container">
      <div class="rain-1"></div>
      <div class="rain-2"></div>
      <div class="rain-3"></div>
      <div class="rain-4"></div>
      <section class="project__info">
        <div id="info__media">
          <div class="media__stormtrooper" data-depth="0.2"></div>
          <div class="media__cadet" data-depth="-0.2"></div>
        </div>
        <div class="info__text">
          <h2 class="text__header">Настоящие сражения только у нас</h2>
          <p class="text__main">
            В отличии от других похожих проектов, мы задаём планку уникальности
            и вдумчивости игрового процесса, которые заставляют игрока ощущать,
            что над правилами и функциями игрового мира действительно старались!
          </p>
          <p class="text__additionally">
            Мы и только мы способны подарить новые эмоции даже самому
            прожжённому геймеру на игровых серверах в стиле RolePlay! Мы обучим,
            покажем и расскажем всё, что связано с проектом и игровым процессом.
          </p>
        </div>
      </section>
      <section class="project__about_clients">
        <div class="about__clients_text">
          <h2 class="about__clients_head">Какие преимущества у проекта?</h2>
          <ol class="about__clients_list">
            <li class="about__clients_elements">
              <p class="about__clients_elements_content">
                Наш проект рассчитан на игроков, а не на кошелёк создателя
              </p>
            </li>
            <li class="about__clients_elements">
              <p class="about__clients_elements_content">
                Проект лоялен к своевольным действиям, если они не несут грубое
                нарушение правил
              </p>
            </li>
            <li class="about__clients_elements">
              <p class="about__clients_elements_content">
                Частые и своевременные обновления не дадут игрокам заскучать
              </p>
            </li>
            <li class="about__clients_elements">
              <p class="about__clients_elements_content">
                Хорошо проработанная система правил не даёт запихнуть потенциал
                в рамки;
              </p>
            </li>
            <li class="about__clients_elements">
              <p class="about__clients_elements_content">
                У нас есть много-много печенек!
              </p>
            </li>
          </ol>
        </div>
        <div class="about__clients_gif">
          <iframe src="/images/funny__video.gif" frameborder="0"></iframe>
        </div>
      </section>
    </div>
    <section class="invite__gaming">
      <div class="gaming__text">
        <h2 class="gaming__text_header">
          Заинтересовало? Тогда приходи к нам!
        </h2>
        <ul class="gaming__text_menu">
          <li class="gaming__text_list">
            <p class="gaming__text_elements">
              Для старта игры тебе надо нажать на кнопку слева, либо перейти по
              кнопке в шапке сайта!
            </p>
          </li>
          <li class="gaming__text_list">
            <p class="gaming__text_elements">
              Не упусти свой шанс окунуться в мир Звёздных Войн!
            </p>
          </li>
        </ul>
      </div>
      <div class="gaming__button">
        <a href="https://discord.gg/ta8PdGctHM">
          <button class="gaming__button_link">Играть!</button>
        </a>
      </div>
    </section>
    <script src="./scripts/parallax.js"></script>
    <script src="./scripts/index.js"></script>
  </body>
</html>
